<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="UserBean" class="com.GinElmaC.Bean.User" init-method="initBean" destroy-method="destoryBean" scope="singleton">
        <property name="name" value="张三"/>
    </bean>
    <!--配置Bean后处理器，注意：这个Bean后处理器将用于这个spring文件的所有Bean-->
    <bean class="com.GinElmaC.Bean.BeanPostProcessor"/>

</beans>